{% extends 'base.html' %}
{% block title %}
  Knowledge Khana
{% endblock %}
{%block navbar%}
  Categories
{%endblock%}
{% block breadcrumb %}

{% if topics_list%}
    {%for topic in topics_list%}
<div class="jumbotron">
    <hr class="my-4">
    <h1 class="display-4">{{topic.Title}}</h1>
    <p class="lead">{{topic.Body}}</p>

    <ul style="list-style:none ; margin: 0px; padding: 0px">
        <li style="display:inline-block; padding-right: 20px"><h4>Topic : <a class="btn btn-secondary btn-sm" href={{topic.Category}} role="button">{{topic.Category}}</a></h4></li>
        <li style="display:inline-block"><h4>Author : <a class="btn btn-secondary btn-sm" href={{topic.Author}} role="button">{{topic.Author}}</a></h4></li>
    </ul>

    <a class="btn btn-primary btn-lg" href={{topic.Category}}/{{topic.id}} role="button">Read More</a>

</div>
    {%endfor%}
{%endif%}
{% endblock %}

